In [3]:
total_fair_ts = pd.read_csv("combined_total_fair_df_1h.csv")
total_fair_ts

,time_slot,4,12,13,24,41,42,43,45,48,...,237,238,239,243,244,246,249,261,262,263
0,2021-01-01 00:00:00,21.466667,0.0,24.633333,17.220000,18.958000,31.050000,16.010455,23.445000,16.836296,...,13.190571,15.531538,14.299643,0.00,18.170000,13.948889,20.724500,24.230000,14.382000,12.175741
1,2021-01-01 01:00:00,11.300000,0.0,25.380000,13.975000,20.332727,18.222143,18.420000,0.000000,15.869167,...,19.783750,20.721481,15.215000,17.30,22.673333,18.970000,22.261563,26.596667,11.111111,15.520612
2,2021-01-01 02:00:00,12.300000,0.0,15.230000,22.070000,25.960909,14.662222,10.562000,0.000000,19.650476,...,15.229412,16.193043,17.193333,0.00,19.133333,22.927692,17.978824,19.500000,18.902857,14.780741
3,2021-01-01 03:00:00,14.366667,0.0,0.000000,18.450000,32.006667,19.637143,19.280000,23.300000,16.536129,...,11.364286,15.855000,18.052500,0.00,6.800000,23.370000,14.929000,15.300000,18.070000,19.595833
4,2021-01-01 04:00:00,0.000000,0.0,0.000000,26.300000,6.350000,13.140000,0.000000,0.000000,17.414500,...,14.550000,23.000000,14.081667,0.00,10.800000,14.940000,19.573333,20.625000,9.880000,22.089000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24808,2023-10-31 19:00:00,31.550000,0.0,28.587568,16.588333,17.310741,22.100000,21.543529,32.169167,23.051000,...,21.788112,20.390838,20.162161,7.00,0.000000,24.597905,28.974898,32.943913,21.268000,20.502778
24809,2023-10-31 20:00:00,34.500000,0.0,31.561892,18.169000,21.064167,7.600000,20.582045,27.567143,21.364687,...,18.444010,19.204370,20.233822,52.09,41.330000,22.875806,26.767233,27.448077,19.635821,19.894821
24810,2023-10-31 21:00:00,29.730000,0.0,27.209630,14.012000,18.277500,18.075000,21.498163,20.048571,21.667453,...,19.601459,22.618684,18.950682,0.00,0.000000,24.917614,28.554130,30.371875,20.090000,19.403636
24811,2023-10-31 22:00:00,31.780000,0.0,32.099286,27.931111,9.445833,23.772500,20.993243,20.301818,23.467257,...,19.009235,22.166389,19.928830,0.00,0.000000,19.226604,26.789421,30.670833,18.930952,19.634500
24812,2023-10-31 23:00:00,25.611250,26.4,29.842222,18.516667,35.345000,20.807500,20.061379,29.156364,20.998227,...,21.130417,24.671600,20.504200,0.00,32.875000,22.579623,26.292831,33.687143,15.217500,19.875400

In [4]:
dd_ts_fresh = pd.read_parquet("[Draft_2]_combined_dd_ss_raw_feat_data_significant_lags_pruned.parquet", engine="pyarrow")

In [5]:
dd_ts_fresh

,time_idx,datetime,group,target,inflow_lag_0,inflow_lag_1,inflow_lag_2,inflow_lag_3,outflow_lag_0,outflow_lag_1,...,inflow_diff2_per1__count_above_mean,inflow_diff2_per1__autocorrelation__lag_1,inflow_diff2_per1__autocorrelation__lag_2,inflow_diff2_per1__partial_autocorrelation__lag_1,inflow_diff2_per1__partial_autocorrelation__lag_2,inflow_diff2_per1__partial_autocorrelation__lag_3,"inflow_diff2_per1__fft_coefficient__attr_""real""__coeff_0",inflow_diff2_per1__autocorrelation__lag_3,inflow_diff2_per1__count_below_mean,inflow_diff2_per1__kurtosis
0,167,2021-01-07 23:00:00,4,0.0,10.0,8.0,1.0,1.0,5.0,3.0,...,0.0,-0.517121,0.028399,-0.517109,-0.362827,-0.207694,-6.0,-0.000421,0.0,0.574259
1,168,2021-01-08 00:00:00,4,1.0,4.0,13.0,0.0,2.0,0.0,1.0,...,1.0,-1.000000,0.028399,-0.517109,-0.362827,-0.207694,-3.0,-0.000421,1.0,0.574259
2,169,2021-01-08 01:00:00,4,2.0,1.0,9.0,0.0,0.0,1.0,2.0,...,2.0,-0.250000,-1.000000,-0.517109,-0.362827,-0.207694,0.0,-0.000421,1.0,0.574259
3,170,2021-01-08 02:00:00,4,0.0,1.0,5.0,0.0,1.0,2.0,3.0,...,3.0,-0.146199,-0.438596,-0.146199,-0.362827,-0.207694,2.0,-0.684211,1.0,3.750693
4,171,2021-01-08 03:00:00,4,0.0,3.0,2.0,1.0,1.0,0.0,0.0,...,3.0,-0.131773,-0.532020,-0.131773,-0.362827,-0.207694,-3.0,-0.919951,2.0,-3.126259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631191,24808,2023-10-31 16:00:00,263,126.0,176.0,136.0,23.0,226.0,142.0,113.0,...,14.0,-0.421845,-0.103924,-0.421845,-0.342896,0.203789,-64.0,0.351349,11.0,0.235154
1631192,24809,2023-10-31 17:00:00,263,112.0,153.0,144.0,9.0,185.0,126.0,82.0,...,13.0,-0.546637,0.012524,-0.546637,-0.408289,-0.018269,10.0,0.202870,12.0,0.405906
1631193,24810,2023-10-31 18:00:00,263,99.0,135.0,94.0,7.0,136.0,112.0,77.0,...,14.0,-0.540946,0.001364,-0.540946,-0.411744,-0.030810,14.0,0.203590,11.0,0.406788
1631194,24811,2023-10-31 19:00:00,263,60.0,119.0,62.0,4.0,85.0,99.0,30.0,...,14.0,-0.443736,-0.035146,-0.443736,-0.288941,0.078741,-8.0,0.206272,11.0,0.743705
1631195,24812,2023-10-31 20:00:00,263,50.0,119.0,23.0,4.0,42.0,60.0,10.0,...,14.0,-0.483413,-0.077545,-0.483413,-0.406145,0.149938,23.0,0.344993,11.0,0.766188

In [13]:
list_of_columns_from_total_fair = list(total_fair_ts.columns)
print(len(list_of_columns_from_total_fair[1:]), "\n")
print(list_of_columns_from_total_fair[1:])

66

['4', '12', '13', '24', '41', '42', '43', '45', '48', '50', '68', '74', '75', '79', '87', '88', '90', '100', '107', '113', '114', '116', '120', '125', '127', '128', '137', '140', '141', '142', '143', '144', '148', '151', '152', '153', '158', '161', '162', '163', '164', '166', '170', '186', '194', '202', '209', '211', '224', '229', '230', '231', '232', '233', '234', '236', '237', '238', '239', '243', '244', '246', '249', '261', '262', '263']

In [16]:
unique_values_group = list(dd_ts_fresh['group'].unique())
print(len(unique_values_group), "\n")
print(unique_values_group)

66

[4, 12, 13, 24, 41, 42, 43, 45, 48, 50, 68, 74, 75, 79, 87, 88, 90, 100, 107, 113, 114, 116, 120, 125, 127, 128, 137, 140, 141, 142, 143, 144, 148, 151, 152, 153, 158, 161, 162, 163, 164, 166, 170, 186, 194, 202, 209, 211, 224, 229, 230, 231, 232, 233, 234, 236, 237, 238, 239, 243, 244, 246, 249, 261, 262, 263]

In [23]:
zones_time_idx = {}
for i in unique_values_group:
    df = dd_ts_fresh[dd_ts_fresh['group'] == i]
    time_idx_list = df['time_idx'].tolist()
    first_idx = time_idx_list[0]
    last_idx = time_idx_list[-1]
    zones_time_idx[i] = [first_idx, last_idx]
    print("Zone ", str(i), " has ", df.shape[0], " number of rows in df_ts_fresh \n")
    print("First idx: ", first_idx, "; Last idx: ", last_idx, "\n")

Zone  4  has  24646  number of rows in df_ts_fresh

First idx:  167 ; Last idx:  24812

Zone  12  has  24789  number of rows in df_ts_fresh

First idx:  24 ; Last idx:  24812

Zone  13  has  24790  number of rows in df_ts_fresh

First idx:  23 ; Last idx:  24812

Zone  24  has  24645  number of rows in df_ts_fresh

First idx:  168 ; Last idx:  24812

Zone  41  has  24645  number of rows in df_ts_fresh

First idx:  168 ; Last idx:  24812

Zone  42  has  24645  number of rows in df_ts_fresh

First idx:  168 ; Last idx:  24812

Zone  43  has  24788  number of rows in df_ts_fresh

First idx:  25 ; Last idx:  24812

Zone  45  has  24646  number of rows in df_ts_fresh

First idx:  167 ; Last idx:  24812

Zone  48  has  24788  number of rows in df_ts_fresh

First idx:  25 ; Last idx:  24812

Zone  50  has  24646  number of rows in df_ts_fresh

First idx:  167 ; Last idx:  24812

Zone  68  has  24790  number of rows in df_ts_fresh

First idx:  23 ; Last idx:  24812

Zone  74  has  24645  number of rows in df_ts_fresh

First idx:  168 ; Last idx:  24812

Zone  75  has  24790  number of rows in df_ts_fresh

First idx:  23 ; Last idx:  24812

Zone  79  has  24647  number of rows in df_ts_fresh

First idx:  166 ; Last idx:  24812

Zone  87  has  24790  number of rows in df_ts_fresh

First idx:  23 ; Last idx:  24812

Zone  88  has  24790  number of rows in df_ts_fresh

First idx:  23 ; Last idx:  24812

Zone  90  has  24788  number of rows in df_ts_fresh

First idx:  25 ; Last idx:  24812

Zone  100  has  24646  number of rows in df_ts_fresh

First idx:  167 ; Last idx:  24812

Zone  107  has  24788  number of rows in df_ts_fresh

First idx:  25 ; Last idx:  24812

Zone  113  has  24790  number of rows in df_ts_fresh

First idx:  23 ; Last idx:  24812

Zone  114  has  24646  number of rows in df_ts_fresh

First idx:  167 ; Last idx:  24812

Zone  116  has  24645  number of rows in df_ts_fresh

First idx:  168 ; Last idx:  24812

Zone  120  has  24715  number of rows in df_ts_fresh

First idx:  98 ; Last idx:  24812

Zone  125  has  24670  number of rows in df_ts_fresh

First idx:  143 ; Last idx:  24812

Zone  127  has  24645  number of rows in df_ts_fresh

First idx:  168 ; Last idx:  24812

Zone  128  has  24669  number of rows in df_ts_fresh

First idx:  144 ; Last idx:  24812

Zone  137  has  24787  number of rows in df_ts_fresh

First idx:  26 ; Last idx:  24812

Zone  140  has  24788  number of rows in df_ts_fresh

First idx:  25 ; Last idx:  24812

Zone  141  has  24790  number of rows in df_ts_fresh

First idx:  23 ; Last idx:  24812

Zone  142  has  24790  number of rows in df_ts_fresh

First idx:  23 ; Last idx:  24812

Zone  143  has  24646  number of rows in df_ts_fresh

First idx:  167 ; Last idx:  24812

Zone  144  has  24646  number of rows in df_ts_fresh

First idx:  167 ; Last idx:  24812

Zone  148  has  24647  number of rows in df_ts_fresh

First idx:  166 ; Last idx:  24812

Zone  151  has  24645  number of rows in df_ts_fresh

First idx:  168 ; Last idx:  24812

Zone  152  has  24645  number of rows in df_ts_fresh

First idx:  168 ; Last idx:  24812

Zone  153  has  24645  number of rows in df_ts_fresh

First idx:  168 ; Last idx:  24812

Zone  158  has  24646  number of rows in df_ts_fresh

First idx:  167 ; Last idx:  24812

Zone  161  has  24644  number of rows in df_ts_fresh

First idx:  169 ; Last idx:  24812

Zone  162  has  24788  number of rows in df_ts_fresh

First idx:  25 ; Last idx:  24812

Zone  163  has  24788  number of rows in df_ts_fresh

First idx:  25 ; Last idx:  24812

Zone  164  has  24790  number of rows in df_ts_fresh

First idx:  23 ; Last idx:  24812

Zone  166  has  24790  number of rows in df_ts_fresh

First idx:  23 ; Last idx:  24812

Zone  170  has  24788  number of rows in df_ts_fresh

First idx:  25 ; Last idx:  24812

Zone  186  has  24645  number of rows in df_ts_fresh

First idx:  168 ; Last idx:  24812

Zone  194  has  24789  number of rows in df_ts_fresh

First idx:  24 ; Last idx:  24812

Zone  202  has  24645  number of rows in df_ts_fresh

First idx:  168 ; Last idx:  24812

Zone  209  has  24646  number of rows in df_ts_fresh

First idx:  167 ; Last idx:  24812

Zone  211  has  24646  number of rows in df_ts_fresh

First idx:  167 ; Last idx:  24812

Zone  224  has  24645  number of rows in df_ts_fresh

First idx:  168 ; Last idx:  24812

Zone  229  has  24790  number of rows in df_ts_fresh

First idx:  23 ; Last idx:  24812

Zone  230  has  24644  number of rows in df_ts_fresh

First idx:  169 ; Last idx:  24812

Zone  231  has  24790  number of rows in df_ts_fresh

First idx:  23 ; Last idx:  24812

Zone  232  has  24646  number of rows in df_ts_fresh

First idx:  167 ; Last idx:  24812

Zone  233  has  24790  number of rows in df_ts_fresh

First idx:  23 ; Last idx:  24812

Zone  234  has  24788  number of rows in df_ts_fresh

First idx:  25 ; Last idx:  24812

Zone  236  has  24788  number of rows in df_ts_fresh

First idx:  25 ; Last idx:  24812

Zone  237  has  24788  number of rows in df_ts_fresh

First idx:  25 ; Last idx:  24812

Zone  238  has  24790  number of rows in df_ts_fresh

First idx:  23 ; Last idx:  24812

Zone  239  has  24790  number of rows in df_ts_fresh

First idx:  23 ; Last idx:  24812

Zone  243  has  24645  number of rows in df_ts_fresh

First idx:  168 ; Last idx:  24812

Zone  244  has  24645  number of rows in df_ts_fresh

First idx:  168 ; Last idx:  24812

Zone  246  has  24788  number of rows in df_ts_fresh

First idx:  25 ; Last idx:  24812

Zone  249  has  24671  number of rows in df_ts_fresh

First idx:  142 ; Last idx:  24812

Zone  261  has  24790  number of rows in df_ts_fresh

First idx:  23 ; Last idx:  24812

Zone  262  has  24646  number of rows in df_ts_fresh

First idx:  167 ; Last idx:  24812

Zone  263  has  24646  number of rows in df_ts_fresh

First idx:  167 ; Last idx:  24812

In [80]:
import numpy as np

# Assuming total_fair_ts_final is already defined
total_fair_ts_final = pd.DataFrame(columns=['total_fair'])

# Your existing code
for zone, indexes in zones_time_idx.items():
    index_list = list(np.arange(indexes[0], indexes[1] + 1))
    df = total_fair_ts[[str(zone)]]
    df2 = df[df.index.isin(index_list)]

    # Cumulatively add rows to total_fair_ts_final
    total_fair_ts_final = pd.concat([total_fair_ts_final, df2.rename(columns={str(zone): 'total_fair'})])

/var/folders/9k/w99lrmw126dfx3xwv9ysxh0h0000gn/T/ipykernel_11080/4126100501.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_fair_ts_final = pd.concat([total_fair_ts_final, df2.rename(columns={str(zone): 'total_fair'})])

In [81]:
total_fair_ts_final

       total_fair
167      0.000000
168     16.710000
169     36.880000
170      0.000000
171      0.000000
...           ...
24808   20.502778
24809   19.894821
24810   19.403636
24811   19.634500
24812   19.875400

[1631196 rows x 1 columns]

In [83]:
total_fair_ts_final.reset_index(drop=True, inplace=True)

In [84]:
total_fair_ts_final

         total_fair
0          0.000000
1         16.710000
2         36.880000
3          0.000000
4          0.000000
...             ...
1631191   20.502778
1631192   19.894821
1631193   19.403636
1631194   19.634500
1631195   19.875400

[1631196 rows x 1 columns]

In [85]:
dd_ts_fresh['ave_total_fair'] = total_fair_ts_final['total_fair']

In [86]:
dd_ts_fresh

,time_idx,datetime,group,target,inflow_lag_0,inflow_lag_1,inflow_lag_2,inflow_lag_3,outflow_lag_0,outflow_lag_1,...,inflow_diff2_per1__autocorrelation__lag_1,inflow_diff2_per1__autocorrelation__lag_2,inflow_diff2_per1__partial_autocorrelation__lag_1,inflow_diff2_per1__partial_autocorrelation__lag_2,inflow_diff2_per1__partial_autocorrelation__lag_3,"inflow_diff2_per1__fft_coefficient__attr_""real""__coeff_0",inflow_diff2_per1__autocorrelation__lag_3,inflow_diff2_per1__count_below_mean,inflow_diff2_per1__kurtosis,ave_total_fair
0,167,2021-01-07 23:00:00,4,0.0,10.0,8.0,1.0,1.0,5.0,3.0,...,-0.517121,0.028399,-0.517109,-0.362827,-0.207694,-6.0,-0.000421,0.0,0.574259,0.000000
1,168,2021-01-08 00:00:00,4,1.0,4.0,13.0,0.0,2.0,0.0,1.0,...,-1.000000,0.028399,-0.517109,-0.362827,-0.207694,-3.0,-0.000421,1.0,0.574259,16.710000
2,169,2021-01-08 01:00:00,4,2.0,1.0,9.0,0.0,0.0,1.0,2.0,...,-0.250000,-1.000000,-0.517109,-0.362827,-0.207694,0.0,-0.000421,1.0,0.574259,36.880000
3,170,2021-01-08 02:00:00,4,0.0,1.0,5.0,0.0,1.0,2.0,3.0,...,-0.146199,-0.438596,-0.146199,-0.362827,-0.207694,2.0,-0.684211,1.0,3.750693,0.000000
4,171,2021-01-08 03:00:00,4,0.0,3.0,2.0,1.0,1.0,0.0,0.0,...,-0.131773,-0.532020,-0.131773,-0.362827,-0.207694,-3.0,-0.919951,2.0,-3.126259,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631191,24808,2023-10-31 16:00:00,263,126.0,176.0,136.0,23.0,226.0,142.0,113.0,...,-0.421845,-0.103924,-0.421845,-0.342896,0.203789,-64.0,0.351349,11.0,0.235154,20.502778
1631192,24809,2023-10-31 17:00:00,263,112.0,153.0,144.0,9.0,185.0,126.0,82.0,...,-0.546637,0.012524,-0.546637,-0.408289,-0.018269,10.0,0.202870,12.0,0.405906,19.894821
1631193,24810,2023-10-31 18:00:00,263,99.0,135.0,94.0,7.0,136.0,112.0,77.0,...,-0.540946,0.001364,-0.540946,-0.411744,-0.030810,14.0,0.203590,11.0,0.406788,19.403636
1631194,24811,2023-10-31 19:00:00,263,60.0,119.0,62.0,4.0,85.0,99.0,30.0,...,-0.443736,-0.035146,-0.443736,-0.288941,0.078741,-8.0,0.206272,11.0,0.743705,19.634500
1631195,24812,2023-10-31 20:00:00,263,50.0,119.0,23.0,4.0,42.0,60.0,10.0,...,-0.483413,-0.077545,-0.483413,-0.406145,0.149938,23.0,0.344993,11.0,0.766188,19.875400

In [87]:
dd_ts_fresh.to_parquet("combined_dd_ss_total_fair_additional_covariate.parquet", engine="pyarrow")